body {
    padding: 10px;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

/* ---------------------------------------- */
#info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#viewScoresLink {
    color: purple;
}
#viewScoresLink:hover {
    opacity: 0.75;
    cursor: pointer;
}

#startScreen {
    width: 500px;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#instructions {
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}


/* ---------------------------------------- */
#questionDisplay {
    width: 500px;
    margin: 0 auto;
}

#question {
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}

/* ---------------------------------------- */

#doneDisplay {
    width: 500px;
    margin: 0 auto;
}

#doneDisplay h1, p, div {
    text-align: center;
}

#doneDisplay div input {
    width: 300px;
    margin-bottom: 25px;
}


/* ---------------------------------------- */

#scoresDisplay {
    width: 500px;
    margin: 0 auto;
}

#scoresDisplay h1 {
    text-align: center;
}

#scoresList p {
    width: 250px;
    margin: 0 auto;
    background-color: gray;
}

#scoresList p:nth-of-type(2n){
    background-color: #fff;
}

/* ---------------------------------------- */



button {
    display: block;
    margin: 10px auto;
    min-width: 100px;
    border: 1px solid purple;
    border-radius: 20px;
    color: purple;
    background-color: #fff;
    padding: 10px;
    outline: none;
    transition: all 0.3s linear;
}

button:hover {
    color: #fff;
    background-color: purple;
}
