body {
    padding: 10px;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

#info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#viewScoresLink {
    color: #BF5FFF;
}
#viewScoresLink:hover {
    opacity: 0.75;
    cursor: pointer;
}

button {
    display: block;
    margin: 10px auto;
    min-width: 100px;
    border: 1px solid #BF5FFF;
    border-radius: 20px;
    color:#BF5FFF;
    background-color: #fff;
    padding: 10px;
    outline: none;
    transition: all 0.3s linear;
}
button:hover {
    color: #fff;
    background-color: #BF5FFF;
}

/* ----- start screen display ----- */
#startScreen {
    width: 500px;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#instructions {
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}


/* ----- question screen display ----- */
#questionDisplay {
    width: 500px;
    margin: 0 auto;
    display: none;
}

#question {
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}

/* ----- done screen display ----- */

#doneDisplay {
    width: 500px;
    margin: 0 auto;
    display: none;
}

#doneDisplay h1, p, div {
    text-align: center;
}

#doneDisplay div input {
    width: 300px;
    margin-bottom: 25px;
}


/* ----- score screen display ----- */

#scoresDisplay {
    width: 500px;
    margin: 0 auto;
    display: none;
}

#scoresDisplay h1 {
    text-align: center;
}

#scoresList {
    border: 1px solid black;
    min-height: 100px;
}

#scoresList p {
    width: 100%;
    margin: 0 auto;
    background-color: gray;
}

#scoresList p:nth-of-type(2n){
    background-color: #fff;
}
